{% extends 'base.html' %}

{% block content_header %}AVTech Passport{% endblock %}

{% block title %}Welcome to Avtech Online System{% endblock %}

{% block sidebar %}
<ul class="sidebar-menu">
  <li class="header">MENU</li>
  <!-- Optionally, you can add icons to the links -->
  <li class="active"><a href="#"><i class="fa fa-link"></i> <span>HOME</span></a></li>
  <li><a href="#"><i class="fa fa-link"></i> <span>Sign In</span></a></li>
  <li class="treeview">
    <a href="#"><i class="fa fa-link"></i> <span>Multilevel</span>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li><a href="#">Link in level 2</a></li>
      <li><a href="#">Link in level 2</a></li>
    </ul>
  </li>
</ul>
{% endblock %}

{% block main_content %}
<div class="row">
</div>
{% endblock %}
