{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load staticfiles %}

{% block content_header %}Search student{% endblock %}

{% block title %}Search student{% endblock %}

{% block sidebar %}
<ul class="sidebar-menu">
  <li class="active"><a><i class="fa"></i> <span>Search Student</span></a></li>
</ul>
{% endblock %}

{% block main_content %}
<div>
    <div id="action" class="btn-group hidden">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li id="action-edit" class="hidden"><a href="#">Edit</a></li>
        <li id="action-view" class="hidden"><a href="#">View</a></li>
{#        <li role="separator" class="divider"></li>#}
        <li id="action-delete"><a href="#">Delete</a></li>
      </ul>
    </div>
</div>

<div>
    {% if table %}
        {% render_table table %}
    {% endif %}
</div>
{% endblock %}

{% block custom_javascript %}
<script>
    $(document).ready(function() {
        console.log('log');
        function countChecked(){
            var check_selector = $(".student_check:checked");
            var n = check_selector.length;
            console.log('current checked is:'+n);

            if (n>=1){
                console.log('check');
                $('#action').removeClass('hidden');
                if (n==1){
                    console.log('n=1');
                    {# show actions according to single row #}
                    $('#action-edit').removeClass('hidden');
                    $('#action-view').removeClass('hidden');
                    var student_id = check_selector.attr('value');
                    console.log('current checked id is:'+student_id);
                    var url_edit = '/students/edit/student_id='+student_id;
                    $('#action-edit a').attr('href', url_edit);
                    var url_view = '/students/view/student_id='+student_id;
                    $('#action-view a').attr('href', url_view);
                }
                else {
                    console.log('n>1');
                    $('#action-edit').addClass('hidden');
                    $('#action-view').addClass('hidden');
                }
            }
            else{
                $('#action').addClass('hidden');
            }
        }

        $("input[type=checkbox]").on("click", countChecked);
    });

</script>

{% endblock %}

