{% extends 'base.html' %}

{% load django_tables2 %}

{% block content_header %}Schedule List{% endblock %}

{% block title %}Schedule List{% endblock %}

{% block sidebar %}
<ul class="sidebar-menu">
  <li class="header">MENU</li>
  <!-- Optionally, you can add icons to the links -->
{#  <li class="active"><a href="#"><i class="fa fa-link"></i> <span>HOME</span></a></li>#}
  <li><a href="/schedule/start_one_schedule/"><i class="fa fa-link"></i> <span>Add New Schedule</span></a></li>
{#  <li><a href="/schedule/start_multi_schedule/"><i class="fa fa-link"></i> <span>Start Multi-Schedule</span></a></li>#}
  <li><a href="/schedule/search_schedule/"><i class="fa fa-link"></i> <span>Search Schedule</span></a></li>
  <li><a href="/schedule/schedule_list/"><i class="fa fa-link"></i> <span>Schedule List</span></a></li>
  <li><a href="/schedule/pending_lists/"><i class="fa fa-link"></i> <span>Pending Lists</span></a></li>
{#  <li><a href="/schedule/daily_to_do/"><i class="fa fa-link"></i> <span>Daily To-Do</span></a></li>#}
{#  <li><a href="/schedule/weekly_to_do/"><i class="fa fa-link"></i> <span>Weekly To-Do</span></a></li>#}
  <li><a href="/schedule/office_schedule/"><i class="fa fa-link"></i> <span>Office Schedule</span></a></li>
{#  <li><a href="/schedule/yearly_schedule/"><i class="fa fa-link"></i> <span>Yearly Schedule</span></a></li>#}
{#  <li><a href="/schedule/alert_emergency/"><i class="fa fa-link"></i> <span>Alert Emergency</span></a></li>#}
  <li><a href="/schedule/instructor_admin/"><i class="fa fa-link"></i> <span>Instructor Admin</span></a></li>
</ul>
{% endblock %}

{% block main_content %}
{#    <style>#}
{#        table, tr, th, td {#}
{#            border: 1px solid black;#}
{#            padding: 5px;#}
{#        }#}
{##}
{#        th {#}
{##}
{#        }#}
{#    </style>#}
    <div id="schedule_list_table">
        {% if table %}
            {% render_table table %}
        {% endif %}
    </div>
{#    <table>#}
{#        <tr>#}
{#            <th>Schedule ID</th>#}
{#            <th>Course</th>#}
{#            <th>Start-End</th>#}
{#            <th>Time</th>#}
{#            <th>Hours</th>#}
{#            <th>Instructor</th>#}
{#            <th>Manage Schedule</th>#}
{#        </tr>#}
{#        {% if schedules %}#}
{#            {% for schedule in schedules %}#}
{#                <tr>#}
{#                    <td>{{ schedule.id }}</td>#}
{#                    <td>{{ schedule.get_course_name_display}}</td>#}
{#                    <td>{{ schedule.start_date }} - {{ schedule.end_date }}</td>#}
{#                    <td>{{ schedule.get_start_time_display }}</td>#}
{#                    <td>{{ schedule.get_hours_per_class_display }}</td>#}
{#                    <td>{{ schedule.get_instructor_display }}</td>#}
{#                    <td><a href="/schedule/update_schedule/{{ schedule.id }}">Update</a> / Cancel / Event / <a href="/schedule/delete_schedule/{{ schedule.id }}" onclick="return confirm('Are you sure you want to delete this?')">Delete</a></td>#}
{#                </tr>#}
{#            {% endfor %}#}
{#        {% endif %}#}
{#    </table>#}
{% endblock %}